[user]
	name = Joseph Pecoraro
	email = joepeck02@gmail.com
	
[alias]
	st    = status
	ci    = commit
	br    = branch
	co    = checkout
	df    = diff
	lg    = log --summary -p --pretty=short -2
	l     = log -10
	h     = help
	man   = help
	cat   = cat-file
	type  = cat-file -t
	cfg   = config --global
	patch = add --patch
	hash  = hash-object

[format]
	pretty = oneline
	
[core]
	pager = cat
	editor = mate --wait

[web]
	browser = open

[instaweb]
	local = false
	port = 8050

[github]
	user = JosephPecoraro
	token = --hidden--
